 /**
Theme Name:   Agave Child Theme
 Theme URI:    http://bitbucket.org/agaveapi/website
 Description:  Agave Custom Theme
 Author:       Paula Clark, Matt Stelmaszek, Rion Dooley
 Author URI:   http://github.com/deardooley
 Template:     salient
 Version:      2.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, responsive-layout, accessibility-ready
 Text Domain:  agave-theme

**/

@import url('../salient/style.css');

body a{
   color: #fff;
}

 body.home .portfolio-items:not(.carousel) {
    margin: 0px;
 }

 body.home .portfolio-items .col.span_4 {
     width: 33.3333%;
     margin: 0px
  }

 body.home .portfolio-items .col.span_4 p {
    text-transform: uppercase;
 }
header#top #logo{
   color:#fff;
}

/*#header-space{
    height: 66px;
}*/

.admin-bar #header-outer, .logged-in.buddypress #header-outer{
   background-color: #00a7b8;
}

.container .row:last-child, .wpb_wrapper .clear{
   width: 1500px;
}

#mobile-menu #mobile-search, header#top nav ul #search-btn {
display: none!important;
}

#copyright .container {
   padding-left: 50px;
   padding-right: 50px;
}

