@font-face {
    font-family: 'agave-custom';
    src: url('/wp-content/themes/agave/fonts/agave-custom.woff?9e8ot2') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="agave-"], [class*=" agave-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'agave-custom' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.agave-semantic-web:before {
    content: "\f000";
}
.agave-share:before {
    content: "\f006";
}
.agave-share-o:before {
    content: "\f007";
}
.agave-oauth:before {
    content: "\f008";
}
.agave-feed:before {
    content: "\f009";
}
.agave-rss:before {
    content: "\f00a";
}
.agave-geotag:before {
    content: "\f00b";
}
.agave-openid:before {
    content: "\f00d";
}
.agave-federated:before {
    content: "\f011";
}
.agave-dataportability:before {
    content: "\f013";
}
.agave-html5:before {
    content: "\f016";
}
.agave-css3:before {
    content: "\f017";
}
.agave-semantics:before {
    content: "\f019";
}
.agave-qr:before {
    content: "\f022";
}
.agave-info-card:before {
    content: "\f024";
}
.agave-persona:before {
    content: "\f027";
}
.agave-markdown:before {
    content: "\f029";
}
.agave-device-access:before {
    content: "\f031";
}
.agave-multimedia:before {
    content: "\f032";
}
.agave-perfintegration:before {
    content: "\f034";
}
.agave-webhooks:before {
    content: "\f036";
}
.agave-wordpress:before {
    content: "\f054";
}
.agave-unhosted:before {
    content: "\f05b";
}
.agave-uniF080:before {
    content: "\f080";
}
.agave-openstack:before {
    content: "\e607";
}
.agave-aws:before {
    content: "\e606";
}
.agave-hardhat2:before {
    content: "\e604";
}
.agave-hardhat:before {
    content: "\e603";
}
.agave-docker:before {
    content: "\f100";
}
.agave-job:before {
    content: "\e602";
}
.agave-server:before {
    content: "\e600";
}
.agave-cpu:before {
    content: "\e601";
}
.agave-agave:before {
    content: "\e605";
}
