body a { color: #ffffff; }
	
	#header-outer:not([data-lhe="animated_underline"]) header#top nav > ul > li > a:hover, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.sfHover > a, header#top nav > ul > li.button_bordered > a:hover, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current-menu-item > a,
	header#top nav .sf-menu li.current_page_item > a .sf-sub-indicator i, header#top nav .sf-menu li.current_page_ancestor > a .sf-sub-indicator i,
	#header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current_page_ancestor > a, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current-menu-ancestor > a, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current_page_item > a,
	body header#top nav .sf-menu li.current_page_item > a .sf-sub-indicator [class^="icon-"], header#top nav .sf-menu li.current_page_ancestor > a .sf-sub-indicator [class^="icon-"],
    .sf-menu li ul li.sfHover > a .sf-sub-indicator [class^="icon-"], 
	ul.sf-menu > li > a:hover > .sf-sub-indicator i, ul.sf-menu > li > a:active > .sf-sub-indicator i, ul.sf-menu > li.sfHover > a > .sf-sub-indicator i,
	.sf-menu ul li.current_page_item > a , .sf-menu ul li.current-menu-ancestor > a, .sf-menu ul li.current_page_ancestor > a, .sf-menu ul a:focus ,
	.sf-menu ul a:hover, .sf-menu ul a:active, .sf-menu ul li:hover > a, .sf-menu ul li.sfHover > a, .sf-menu li ul li a:hover, .sf-menu li ul li.sfHover > a,
	#footer-outer a:hover, .recent-posts .post-header a:hover, article.post .post-header a:hover, article.result a:hover,  article.post .post-header h2 a, .single article.post .post-meta a:hover,
	.comment-list .comment-meta a:hover, label span, .wpcf7-form p span, .icon-3x[class^="icon-"], .icon-3x[class*=" icon-"], .icon-tiny[class^="icon-"], body .circle-border, article.result .title a, .home .blog-recent .col .post-header a:hover,
	.home .blog-recent .col .post-header h3 a, #single-below-header a:hover, header#top #logo:hover, .sf-menu > li.current_page_ancestor > a > .sf-sub-indicator [class^="icon-"], .sf-menu > li.current-menu-ancestor > a > .sf-sub-indicator [class^="icon-"],
	body #mobile-menu li.open > a [class^="icon-"], .pricing-column h3, .pricing-table[data-style="flat-alternative"] .pricing-column.accent-color h4, .pricing-table[data-style="flat-alternative"] .pricing-column.accent-color .interval,
	.comment-author a:hover, .project-attrs li i, #footer-outer #copyright li a i:hover, .col:hover > [class^="icon-"].icon-3x.accent-color.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.accent-color.alt-style.hovered,
	#header-outer .widget_shopping_cart .cart_list a, .woocommerce .star-rating, .woocommerce-page table.cart a.remove, .woocommerce form .form-row .required, .woocommerce-page form .form-row .required, body #header-secondary-outer #social a:hover i,
	.woocommerce ul.products li.product .price, body .twitter-share:hover i, .twitter-share.hovered i, body .linkedin-share:hover i, .linkedin-share.hovered i, body .google-plus-share:hover i, .google-plus-share.hovered i, .pinterest-share:hover i, .pinterest-share.hovered i, .facebook-share:hover i, .facebook-share.hovered i, .woocommerce-page ul.products li.product .price, .nectar-milestone .number.accent-color, header#top nav > ul > li.megamenu > ul > li > a:hover, header#top nav > ul > li.megamenu > ul > li.sfHover > a, body #portfolio-nav a:hover i,
	span.accent-color, .nectar-love:hover i, .nectar-love.loved i, .portfolio-items .nectar-love:hover i, .portfolio-items .nectar-love.loved i, body .hovered .nectar-love i, header#top nav ul #search-btn a:hover span, header#top nav ul .slide-out-widget-area-toggle a:hover span, #search-outer #search #close a span:hover, 
	.carousel-wrap[data-full-width="true"] .carousel-heading a:hover i, #search-outer .ui-widget-content li:hover a .title,  #search-outer .ui-widget-content .ui-state-hover .title,  #search-outer .ui-widget-content .ui-state-focus .title, .portfolio-filters-inline .container ul li a.active,
	body [class^="icon-"].icon-default-style, .svg-icon-holder[data-color="accent-color"], .team-member a.accent-color:hover, .ascend .comment-list .reply a, .wpcf7-form .wpcf7-not-valid-tip, .text_on_hover.product .add_to_cart_button, .blog-recent[data-style="minimal"] .col > span, .blog-recent[data-style="title_only"] .col:hover .post-header .title, .woocommerce-checkout-review-order-table .product-info .amount,
	.tabbed[data-style="minimal"] > ul li a.active-tab, .masonry.classic_enhanced  article.post .post-meta a:hover i,  .masonry.classic_enhanced article.post .post-meta .icon-salient-heart-2.loved, .single #single-meta ul li:not(.meta-share-count):hover i, .single #single-meta ul li:not(.meta-share-count):hover a, .single #single-meta ul li:not(.meta-share-count):hover span, .single #single-meta ul li.meta-share-count .nectar-social a:hover i, #project-meta  #single-meta ul li > a, #project-meta ul li.meta-share-count .nectar-social a:hover i,  #project-meta ul li:not(.meta-share-count):hover i, #project-meta ul li:not(.meta-share-count):hover span
	{	
		color:#ffffff!important;
	}
	
	.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.accent-color.alt-style.hovered, body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.accent-color.alt-style.hovered,
	.ascend #header-outer:not(.transparent) .cart-outer:hover .cart-menu-wrap:not(.has_products) .icon-salient-cart {
		color:#ffffff!important;
	}
	
	
	.orbit-wrapper div.slider-nav span.right, .orbit-wrapper div.slider-nav span.left, .flex-direction-nav a, .jp-play-bar,
	.jp-volume-bar-value, .jcarousel-prev:hover, .jcarousel-next:hover, .portfolio-items .col[data-default-color="true"] .work-item:not(.style-3) .work-info-bg, .portfolio-items .col[data-default-color="true"] .bottom-meta, 
	.portfolio-filters a, .portfolio-filters #sort-portfolio, .project-attrs li span, .progress li span, .nectar-progress-bar span,
	#footer-outer #footer-widgets .col .tagcloud a:hover, #sidebar .widget .tagcloud a:hover, article.post .more-link span:hover,
	article.post.quote .post-content .quote-inner, article.post.link .post-content .link-inner, #pagination .next a:hover, #pagination .prev a:hover, 
	.comment-list .reply a:hover, input[type=submit]:hover, input[type="button"]:hover, #footer-outer #copyright li a.vimeo:hover, #footer-outer #copyright li a.behance:hover,
	.toggle.open h3 a, .tabbed > ul li a.active-tab, [class*=" icon-"], .icon-normal, .bar_graph li span, .nectar-button[data-color-override="false"].regular-button, .nectar-button.tilt.accent-color, body .swiper-slide .button.transparent_2 a.primary-color:hover, #footer-outer #footer-widgets .col input[type="submit"],
	.carousel-prev:hover, .carousel-next:hover, body .products-carousel .carousel-next:hover, body .products-carousel .carousel-prev:hover, .blog-recent .more-link span:hover, .post-tags a:hover, .pricing-column.highlight h3, .pricing-table[data-style="flat-alternative"] .pricing-column.highlight h3 .highlight-reason, .pricing-table[data-style="flat-alternative"] .pricing-column.accent-color:before, #to-top:hover, #to-top.dark:hover, body[data-button-style="rounded"] #to-top:after, #pagination a.page-numbers:hover,
	#pagination span.page-numbers.current, .single-portfolio .facebook-share a:hover, .single-portfolio .twitter-share a:hover, .single-portfolio .pinterest-share a:hover,  
	.single-post .facebook-share a:hover, .single-post .twitter-share a:hover, .single-post .pinterest-share a:hover, .mejs-controls .mejs-time-rail .mejs-time-current,
	.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
	article.post.quote .post-content .quote-inner, article.post.link .post-content .link-inner, article.format-status .post-content .status-inner, article.post.format-aside .aside-inner, 
	body #header-secondary-outer #social li a.behance:hover, body #header-secondary-outer #social li a.vimeo:hover, #sidebar .widget:hover [class^="icon-"].icon-3x, .woocommerce-page div[data-project-style="text_on_hover"] .single_add_to_cart_button,
	article.post.quote .content-inner .quote-inner .whole-link, .masonry.classic_enhanced article.post.quote.wide_tall .post-content a:hover .quote-inner, .masonry.classic_enhanced article.post.link.wide_tall .post-content a:hover .link-inner, .iosSlider .prev_slide:hover, .iosSlider .next_slide:hover, body [class^="icon-"].icon-3x.alt-style.accent-color, body [class*=" icon-"].icon-3x.alt-style.accent-color, #slide-out-widget-area, #slide-out-widget-area-bg.fullscreen, 
	#header-outer .widget_shopping_cart a.button, body[data-button-style="rounded"] .wpb_wrapper .twitter-share:before, body[data-button-style="rounded"] .wpb_wrapper .twitter-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .nectar-social:hover > *:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share.hovered:before,  #header-outer a.cart-contents .cart-wrap span, .swiper-slide .button.solid_color a, .swiper-slide .button.solid_color_2 a, .portfolio-filters, button[type=submit]:hover, #buddypress button:hover, #buddypress a.button:hover, #buddypress ul.button-nav li.current a, 
	header#top nav ul .slide-out-widget-area-toggle a:hover i.lines, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:after, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:before,  #buddypress a.button:focus, .text_on_hover.product a.added_to_cart, .woocommerce div.product .woocommerce-tabs .full-width-content ul.tabs li a:after, 
    .woocommerce div[data-project-style="text_on_hover"]  .cart .quantity input.minus, .woocommerce div[data-project-style="text_on_hover"]  .cart .quantity input.plus, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce .span_4 input[type="submit"].checkout-button,
    .portfolio-filters-inline[data-color-scheme="accent-color"], body[data-fancy-form-rcs="1"] [type="radio"]:checked + label:after, .select2-container .select2-choice:hover, .select2-dropdown-open .select2-choice,
    header#top nav > ul > li.button_solid_color > a:before, #header-outer.transparent header#top nav > ul > li.button_solid_color > a:before, .tabbed[data-style="minimal"] > ul li a:after, .twentytwenty-handle, .twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after, .masonry.classic_enhanced .posts-container article .meta-category a:hover, .masonry.classic_enhanced .posts-container article .video-play-button, .bottom_controls #portfolio-nav .controls li a i:after, .bottom_controls #portfolio-nav ul:first-child li#all-items a:hover i, .nectar_video_lightbox.nectar-button[data-color="default-accent-color"],  .nectar_video_lightbox.nectar-button[data-color="transparent-accent-color"]:hover,
    .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] blockquote.is-selected p, .nectar-recent-posts-slider .container .strong span:before, #page-header-bg[data-post-hs="default_minimal"] .inner-wrap > a:hover,
    .single .heading-title[data-header-style="default_minimal"] .meta-category a:hover, body.single-post .sharing-default-minimal .nectar-love.loved, .nectar-fancy-box:after 
	{
		background-color:#ffffff!important;
	}
	
	.col:hover > [class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered, .col:hover > [class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered, body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,
	.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered, .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered {
		background-color:#ffffff!important;
	}
	

	.bottom_controls #portfolio-nav ul:first-child  li#all-items a:hover i { box-shadow: -.6em 0 #ffffff, -.6em .6em #ffffff, .6em 0 #ffffff, .6em -.6em #ffffff, 0 -.6em #ffffff, -.6em -.6em #ffffff, 0 .6em #ffffff, .6em .6em #ffffff;  }
	
	.tabbed > ul li a.active-tab, body[data-form-style="minimal"] label:after, body .recent_projects_widget a:hover img, .recent_projects_widget a:hover img, #sidebar #flickr a:hover img, body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,
	#footer-outer #flickr a:hover img, body[data-button-style="rounded"] .wpb_wrapper .twitter-share:before, body[data-button-style="rounded"] .wpb_wrapper .twitter-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .nectar-social:hover > *:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share.hovered:before,  #featured article .post-title a:hover, #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a:after, body #featured article .post-title a:hover, div.wpcf7-validation-errors, body[data-fancy-form-rcs="1"] [type="radio"]:checked + label:before, body[data-fancy-form-rcs="1"] [type="radio"]:checked + label:after, body[data-fancy-form-rcs="1"] input[type="checkbox"]:checked + label > span, .select2-container .select2-choice:hover, .select2-dropdown-open .select2-choice,
	#header-outer:not(.transparent) header#top nav > ul > li.button_bordered > a:hover:before, .single #single-meta ul li:not(.meta-share-count):hover a, .single #project-meta ul li:not(.meta-share-count):hover a {
		border-color:#ffffff!important;
	}

	.default-loading-icon:before { border-top-color:#ffffff!important; }

	#header-outer a.cart-contents span:before { border-color: transparent #ffffff!important; }
	
	body .col:not(#post-area):not(.span_12):not(#sidebar):hover .hovered .circle-border, body #sidebar .widget:hover .circle-border, body .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] blockquote .bottom-arrow:after, body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] blockquote .bottom-arrow:after, .portfolio-items[data-ps="6"] .bg-overlay, .portfolio-items[data-ps="6"].no-masonry .bg-overlay { border-color:#ffffff; }

	.gallery a:hover img { border-color:#ffffff!important; }@media only screen 
		and (min-width : 1px) and (max-width : 1000px) {
			
			body #featured article .post-title > a { background-color:#ffffff; }
			
			body #featured article .post-title > a { border-color:#ffffff; }
		}
		
		.nectar-button.regular-button.extra-color-1, .nectar-button.tilt.extra-color-1 { background-color: #c07763!important; }
		
		.icon-3x[class^="icon-"].extra-color-1:not(.alt-style), .icon-tiny[class^="icon-"].extra-color-1, .icon-3x[class*=" icon-"].extra-color-1:not(.alt-style) , body .icon-3x[class*=" icon-"].extra-color-1:not(.alt-style)  .circle-border, .woocommerce-page table.cart a.remove, #header-outer .widget_shopping_cart .cart_list li a.remove,  #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, .nectar-milestone .number.extra-color-1, span.extra-color-1,
		.team-member ul.social.extra-color-1 li a, .stock.out-of-stock, body [class^="icon-"].icon-default-style.extra-color-1, .team-member a.extra-color-1:hover, 
		.pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-1 h3, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-1 h4, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-1 .interval,
		.svg-icon-holder[data-color="extra-color-1"] {
			color: #c07763!important;
		}
		
		.col:hover > [class^="icon-"].icon-3x.extra-color-1:not(.alt-style), .col:hover > [class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered, body .swiper-slide .button.transparent_2 a.extra-color-1:hover,
		body .col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style).hovered, body .col:not(#post-area):not(#sidebar):not(.span_12):hover a [class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered, #sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style),
		.portfolio-filters-inline[data-color-scheme="extra-color-1"], .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-1:before, .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-1 h3 .highlight-reason, .nectar-button.nectar_video_lightbox[data-color="default-extra-color-1"],  .nectar_video_lightbox.nectar-button[data-color="transparent-extra-color-1"]:hover,
		.testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] blockquote.is-selected p, .nectar-fancy-box[data-color="extra-color-1"]:after
		{
			background-color: #c07763!important;
		}
		
		body [class^="icon-"].icon-3x.alt-style.extra-color-1, body [class*=" icon-"].icon-3x.alt-style.extra-color-1, [class*=" icon-"].extra-color-1.icon-normal, .extra-color-1.icon-normal, .bar_graph li span.extra-color-1, .nectar-progress-bar span.extra-color-1, #header-outer .widget_shopping_cart a.button, .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale, .woocommerce span.onsale, .woocommerce-page span.onsale, .woocommerce-page table.cart a.remove:hover, .swiper-slide .button.solid_color a.extra-color-1, .swiper-slide .button.solid_color_2 a.extra-color-1, .toggle.open.extra-color-1 h3 a {
			background-color: #c07763!important;
		}
		
		.col:hover > [class^="icon-"].icon-3x.extra-color-1.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered, .no-highlight.extra-color-1 h3,
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1.alt-style.hovered, body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered {
			color: #c07763!important;
		}
		
		body .col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-1.hovered .circle-border, .woocommerce-page table.cart a.remove, #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, body #sidebar .widget:hover .extra-color-1 .circle-border, .woocommerce-page table.cart a.remove,
		body .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] blockquote .bottom-arrow:after,
		body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] blockquote .bottom-arrow:after { border-color:#c07763; }
		
		.pricing-column.highlight.extra-color-1 h3 { background-color:#c07763!important; }
		
		
		
		.nectar-button.regular-button.extra-color-2, .nectar-button.tilt.extra-color-2 { background-color: #00a7b8!important; }
			
		.icon-3x[class^="icon-"].extra-color-2:not(.alt-style), .icon-3x[class*=" icon-"].extra-color-2:not(.alt-style), .icon-tiny[class^="icon-"].extra-color-2, body .icon-3x[class*=" icon-"].extra-color-2  .circle-border, .nectar-milestone .number.extra-color-2, span.extra-color-2, .team-member ul.social.extra-color-2 li a, body [class^="icon-"].icon-default-style.extra-color-2, .team-member a.extra-color-2:hover,
		.pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-2 h3, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-2 h4, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-2 .interval,
		.svg-icon-holder[data-color="extra-color-2"] {
			color: #00a7b8!important;
		}
	
		.col:hover > [class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, body .swiper-slide .button.transparent_2 a.extra-color-2:hover, 
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, #sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style), .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-2 h3 .highlight-reason,  .nectar-button.nectar_video_lightbox[data-color="default-extra-color-2"],  .nectar_video_lightbox.nectar-button[data-color="transparent-extra-color-2"]:hover,
		.testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] blockquote.is-selected p, .nectar-fancy-box[data-color="extra-color-2"]:after
		{
			background-color: #00a7b8!important;
		}
	
	
		body [class^="icon-"].icon-3x.alt-style.extra-color-2, body [class*=" icon-"].icon-3x.alt-style.extra-color-2, [class*=" icon-"].extra-color-2.icon-normal, .extra-color-2.icon-normal, .bar_graph li span.extra-color-2, .nectar-progress-bar span.extra-color-2, .woocommerce .product-wrap .add_to_cart_button.added, .woocommerce-message, .woocommerce-error, .woocommerce-info, 
		.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range, .swiper-slide .button.solid_color a.extra-color-2, .swiper-slide .button.solid_color_2 a.extra-color-2, .toggle.open.extra-color-2 h3 a,
		.portfolio-filters-inline[data-color-scheme="extra-color-2"], .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-2:before {
			background-color: #00a7b8!important;
		}
	
		.col:hover > [class^="icon-"].icon-3x.extra-color-2.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered, .no-highlight.extra-color-2 h3, 
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2.alt-style.hovered, body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered {
			color: #00a7b8!important;
		}
		
		body .col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-2.hovered .circle-border, body #sidebar .widget:hover .extra-color-2 .circle-border,
		body .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] blockquote .bottom-arrow:after,
		body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] blockquote .bottom-arrow:after { border-color:#00a7b8; }
		
		.pricing-column.highlight.extra-color-2 h3 { background-color:#00a7b8!important; }
		
		
		.nectar-button.regular-button.extra-color-3, .nectar-button.tilt.extra-color-3 { background-color: #504d6c!important; }
			
	    .icon-3x[class^="icon-"].extra-color-3:not(.alt-style) , .icon-3x[class*=" icon-"].extra-color-3:not(.alt-style) , .icon-tiny[class^="icon-"].extra-color-3, body .icon-3x[class*=" icon-"].extra-color-3  .circle-border, .nectar-milestone .number.extra-color-3, span.extra-color-3, .team-member ul.social.extra-color-3 li a, body [class^="icon-"].icon-default-style.extra-color-3, .team-member a.extra-color-3:hover,
	    .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-3 h3, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-3 h4, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-3 .interval,
	    .svg-icon-holder[data-color="extra-color-3"] {
			color: #504d6c!important;
		}
	    .col:hover > [class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, body .swiper-slide .button.transparent_2 a.extra-color-3:hover,
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, #sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style),
		.portfolio-filters-inline[data-color-scheme="extra-color-3"], .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-3:before, .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-3 h3 .highlight-reason,  .nectar-button.nectar_video_lightbox[data-color="default-extra-color-3"],  .nectar_video_lightbox.nectar-button[data-color="transparent-extra-color-3"]:hover,
		.testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] blockquote.is-selected p, .nectar-fancy-box[data-color="extra-color-3"]:after
		{
			background-color: #504d6c!important;
		}
		
		body [class^="icon-"].icon-3x.alt-style.extra-color-3, body [class*=" icon-"].icon-3x.alt-style.extra-color-3, .extra-color-3.icon-normal, [class*=" icon-"].extra-color-3.icon-normal, .bar_graph li span.extra-color-3, .nectar-progress-bar span.extra-color-3, .swiper-slide .button.solid_color a.extra-color-3, .swiper-slide .button.solid_color_2 a.extra-color-3, .toggle.open.extra-color-3 h3 a  {
			background-color: #504d6c!important;
		}
	
		.col:hover > [class^="icon-"].icon-3x.extra-color-3.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered, .no-highlight.extra-color-3 h3,
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3.alt-style.hovered, body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered {
			color: #504d6c!important;
		}
		
		body .col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-3.hovered .circle-border, body #sidebar .widget:hover .extra-color-3 .circle-border,
		body .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] blockquote .bottom-arrow:after,
		body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] blockquote .bottom-arrow:after { border-color:#504d6c; }
		
		.pricing-column.highlight.extra-color-3 h3 { background-color:#504d6c!important; }
		body #header-outer, body #search-outer { background-color:#00a7b8; }body #header-outer, body[data-header-color="dark"] #header-outer { background-color: rgba(0,167,184,100); }header#top nav > ul > li > a, header#top #logo, header#top .span_9 > .slide-out-widget-area-toggle i, .sf-sub-indicator [class^="icon-"], body[data-header-color="custom"].ascend #boxed #header-outer .cart-menu .cart-icon-wrap i,  body.ascend #boxed #header-outer .cart-menu .cart-icon-wrap i, .sf-sub-indicator [class*=" icon-"], header#top nav ul #search-btn a span, header#top #toggle-nav i, header#top #toggle-nav i, header#top #mobile-cart-link i, #header-outer .cart-menu .cart-icon-wrap .icon-salient-cart, #search-outer #search input[type="text"], #search-outer #search #close a span { color:#ffffff!important; }header#top nav ul .slide-out-widget-area-toggle a i.lines, header#top nav ul .slide-out-widget-area-toggle a i.lines:after, header#top nav ul .slide-out-widget-area-toggle a i.lines:before { background-color:#ffffff!important; }header#top nav > ul > li.button_bordered > a:before { border-color:#ffffff; }#header-outer:not([data-lhe="animated_underline"]) header#top nav > ul > li > a:hover, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.sfHover > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav > ul > li > a:hover, header#top #logo:hover, .ascend #header-outer:not(.transparent) .cart-outer:hover .cart-menu-wrap:not(.has_products) .icon-salient-cart, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.sfHover > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current-menu-item > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current_page_item > a .sf-sub-indicator i, body header#top nav .sf-menu > li.current_page_ancestor > a .sf-sub-indicator i, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.sfHover > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current_page_ancestor > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current-menu-ancestor > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current-menu-ancestor > a i,  body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current_page_item > a, body header#top nav .sf-menu > li.current_page_item > a .sf-sub-indicator [class^="icon-"], body header#top nav .sf-menu > li.current_page_ancestor > a .sf-sub-indicator [class^="icon-"], body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current-menu-ancestor > a, body .sf-menu > li.sfHover > a .sf-sub-indicator [class^="icon-"], body .sf-menu > li:hover > a .sf-sub-indicator [class^="icon-"], body .sf-menu > li:hover > a, header#top nav ul #search-btn a:hover span, header#top nav ul .slide-out-widget-area-toggle a:hover span, #search-outer #search #close a span:hover { color:#ffffff!important; }header#top nav ul .slide-out-widget-area-toggle a:hover i.lines, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:after, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:before { background-color:#ffffff!important; }#header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a:after { border-color:#ffffff!important; }#search-outer .ui-widget-content, header#top .sf-menu li ul li a, header#top nav > ul > li.megamenu > ul.sub-menu, body header#top nav > ul > li.megamenu > ul.sub-menu > li > a, #header-outer .widget_shopping_cart .cart_list a, #header-secondary-outer ul ul li a, #header-outer .widget_shopping_cart .cart_list li, .woocommerce .cart-notification, #header-outer .widget_shopping_cart_content { background-color:#595959!important; }header#top .sf-menu li ul li a:hover, body header#top nav .sf-menu ul li.sfHover > a, header#top .sf-menu li ul li.current-menu-item > a, header#top .sf-menu li ul li.current-menu-ancestor > a, header#top nav > ul > li.megamenu > ul ul li a:hover, header#top nav > ul > li.megamenu > ul ul li.current-menu-item a, #header-secondary-outer ul ul li a:hover, body #header-secondary-outer .sf-menu ul li.sfHover > a, #header-outer .widget_shopping_cart .cart_list li:hover, #header-outer .widget_shopping_cart .cart_list li:hover a, #search-outer .ui-widget-content li:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background-color:#595959!important; }#search-outer .ui-widget-content li a, #search-outer .ui-widget-content i, header#top .sf-menu li ul li a, body #header-outer .widget_shopping_cart .cart_list a, #header-secondary-outer ul ul li a, .woocommerce .cart-notification .item-name, .cart-outer .cart-notification, .sf-menu li ul .sf-sub-indicator [class^="icon-"], .sf-menu li ul .sf-sub-indicator [class*=" icon-"], #header-outer .widget_shopping_cart .quantity { color:#ffffff!important; }#search-outer .ui-widget-content li:hover a .title,  #search-outer .ui-widget-content .ui-state-hover .title,  #search-outer .ui-widget-content .ui-state-focus .title, #search-outer .ui-widget-content li:hover a, #search-outer .ui-widget-content li:hover i,  #search-outer .ui-widget-content .ui-state-hover a,  #search-outer .ui-widget-content .ui-state-focus a,  #search-outer .ui-widget-content .ui-state-hover i,  #search-outer .ui-widget-content .ui-state-focus i, #search-outer .ui-widget-content .ui-state-hover span,  #search-outer .ui-widget-content .ui-state-focus span,  body header#top nav .sf-menu ul li.sfHover > a,  header#top nav > ul > li.megamenu > ul ul li.current-menu-item a, body #header-outer .widget_shopping_cart .cart_list li:hover a, #header-secondary-outer ul ul li:hover > a, body #header-secondary-outer ul ul li:hover > a i, body header#top nav .sf-menu ul li.sfHover > a .sf-sub-indicator i,  #header-outer .widget_shopping_cart li:hover .quantity, body header#top nav .sf-menu ul li:hover > a .sf-sub-indicator i, body header#top nav .sf-menu ul li:hover > a, header#top nav > ul > li.megamenu > ul > li > a:hover, header#top nav > ul > li.megamenu > ul > li.sfHover > a, body header#top nav .sf-menu ul li.current-menu-item > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu ul li.current-menu-item > a, body header#top nav .sf-menu ul li.current_page_item > a .sf-sub-indicator i, body header#top nav .sf-menu ul li.current_page_ancestor > a .sf-sub-indicator i, body header#top nav .sf-menu ul li.sfHover > a, #header-secondary-outer ul li.sfHover > a,  body header#top nav .sf-menu ul li.current_page_ancestor > a, body header#top nav .sf-menu ul li.current-menu-ancestor > a, body header#top nav .sf-menu ul li.current_page_item > a, body header#top nav .sf-menu ul li.current_page_item > a .sf-sub-indicator [class^="icon-"], body header#top nav .sf-menu ul li.current_page_ancestor > a .sf-sub-indicator [class^="icon-"], body header#top nav .sf-menu ul li.current-menu-ancestor > a, body header#top nav .sf-menu ul li.current_page_item > a, body .sf-menu ul li ul li.sfHover > a .sf-sub-indicator [class^="icon-"], body ul.sf-menu > li > a:active > .sf-sub-indicator i, body ul.sf-menu > li.sfHover > a > .sf-sub-indicator i, body .sf-menu ul li.current_page_item > a , body .sf-menu ul li.current-menu-ancestor > a, body .sf-menu ul li.current_page_ancestor > a, body .sf-menu ul a:focus , body .sf-menu ul a:hover, body .sf-menu ul a:active, body .sf-menu ul li:hover > a, body .sf-menu ul li.sfHover > a, .body sf-menu li ul li a:hover, body .sf-menu li ul li.sfHover > a, body header#top nav > ul > li.megamenu ul li:hover > a { color:#e5e5e5!important; }#header-secondary-outer { background-color:#4c7cff!important; }#header-secondary-outer nav > ul > li > a, body #header-secondary-outer nav > ul > li > a span.sf-sub-indicator [class^="icon-"], #header-secondary-outer #social li a i { color:#ffffff!important; }#header-secondary-outer #social li a:hover i,  #header-secondary-outer nav > ul > li:hover > a, #header-secondary-outer nav > ul > li.current-menu-item > a, #header-secondary-outer nav > ul > li.sfHover > a, #header-secondary-outer nav > ul > li.sfHover > a span.sf-sub-indicator [class^="icon-"], #header-secondary-outer nav > ul > li.current-menu-item > a span.sf-sub-indicator [class^="icon-"], #header-secondary-outer nav > ul > li.current-menu-ancestor > a,  #header-secondary-outer nav > ul > li.current-menu-ancestor > a span.sf-sub-indicator [class^="icon-"], body #header-secondary-outer nav > ul > li:hover > a span.sf-sub-indicator [class^="icon-"] { color:#ffffff!important; }#slide-out-widget-area, #slide-out-widget-area-bg.fullscreen { background-color:#27CCC0!important; }#slide-out-widget-area, #slide-out-widget-area a, body #slide-out-widget-area a.slide_out_area_close .icon-default-style[class^="icon-"] { color:#eefbfa!important; }#slide-out-widget-area .tagcloud a { border-color: #eefbfa!important; }#slide-out-widget-area h1, #slide-out-widget-area h2, #slide-out-widget-area h3, #slide-out-widget-area h4, #slide-out-widget-area h5 { color:#ffffff!important; }body #slide-out-widget-area a:hover, html body #slide-out-widget-area a.slide_out_area_close:hover .icon-default-style[class^="icon-"] { color:#ffffff!important; }#slide-out-widget-area .tagcloud a:hover { border-color: #ffffff!important; }#footer-outer { background-color:#313233!important; } #footer-outer #footer-widgets { border-bottom: none!important; } #footer-outer #footer-widgets .col ul li { border-bottom: 1px solid rgba(0,0,0,0.1)!important; } #footer-outer #footer-widgets .col .widget_recent_comments ul li { background-color: rgba(0, 0, 0, 0.07)!important; border-bottom: 0px!important;} #footer-outer, #footer-outer a:not(.nectar-button) { color:#595959!important; }#footer-outer .widget h4, #footer-outer .col .widget_recent_entries span, #footer-outer .col .recent_posts_extra_widget .post-widget-text span { color:#777777!important; }#footer-outer #copyright, body { border: none!important; background-color:#313233!important; }#footer-outer #copyright li a i, #footer-outer #copyright p { color:#595959!important; }#footer-outer #copyright { border-top: 1px solid rgba(255,255,255,0.18)!important; }#call-to-action { background-color:#00a7b8!important; }#call-to-action span { color:#ffffff!important; }body #slide-out-widget-area-bg { background-color: rgba(0,0,0,0.8); }
	  #header-outer { padding-top: 2px; }
	  
	  #header-outer #logo img { height: 75px; }

	  header#top nav > ul > li > a {
	  	padding-bottom: 30px;
		padding-top: 28px;
	  }#header-outer .cart-menu {
	 		padding-bottom: 30px;
			padding-top: 30px;
		 }header#top nav > ul li#search-btn, header#top nav > ul li.slide-out-widget-area-toggle {
	  	 padding-bottom: 27px;
		 padding-top: 28px;
	  }

	  header#top .sf-menu > li.sfHover > ul { top: 20px; }

	 .sf-sub-indicator { height: 20px; }

	 #header-space { height: 79px;}
	 
	 body[data-smooth-scrolling="1"] #full_width_portfolio .project-title.parallax-effect { top: 79px; }
	 
	 body.single-product div.product .product_title { padding-right:0px; } @media only screen and (min-width: 1000px) { body:not(.ascend)[data-slide-out-widget-area="true"] #header-outer[data-has-menu="false"][data-permanent-transparent="false"] header#top, body.ascend[data-slide-out-widget-area="true"] #header-outer[data-has-menu="false"][data-permanent-transparent="false"][data-full-width="false"] header#top { padding-bottom: 2px; } }@media only screen and (max-width: 1000px) { 
	 	body header#top #logo img, #header-outer[data-permanent-transparent="false"] #logo .dark-version { 
	 		height: 24px!important; 
	 	} 
	 	header#top .col.span_9 {
	 		min-height: 48px; 
	 		line-height: 28px; 
	 	}
	 } .nectar-slider-loading .loading-icon, .portfolio-loading, #ajax-loading-screen .loading-icon, .loading-icon, .pp_loaderIcon { background-image: url(""); } @media only screen and (min-width: 1000px) and (max-width: 1300px) {
	    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
	    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
	    .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 45px!important;
			line-height: 51px!important;
		}

		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
	    .full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 18px!important;
			line-height: 31.2px!important;
		}
	}
	
	@media only screen and (min-width : 690px) and (max-width : 1000px) {
		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
	    .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 33px!important;
			line-height: 39px!important;
		}

		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
	    .full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 13.2px!important;
			line-height: 24px!important;
		}
	}
	
	@media only screen and (max-width : 690px) {
		.nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content h2, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"] .swiper-slide .content h2,
	    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content h2 {
			font-size: 15px!important;
			line-height: 21px!important;
		}

		.nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"]  .swiper-slide .content p, 
	    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content p {
			font-size: 10px!important;
			line-height: 17.52px!important;
		}
	}
	@media only screen and (min-width: 1000px) {
			
			    .container, .woocommerce-tabs .full-width-content .tab-container, .nectar-recent-posts-slider .flickity-page-dots {
			      max-width: 1425px; 
				  width: 100%;
				  margin: 0 auto;
				  padding: 0px 90px; 
			    } 

			    body .container .page-submenu.stuck .container:not(.tab-container), .nectar-recent-posts-slider .flickity-page-dots {
			    	  padding: 0px 90px!important; 
			    }	
				
				.swiper-slide .content {
				  padding: 0px 90px; 
				}
				
				body .container .container:not(.tab-container):not(.recent-post-container) {
					width: 100%!important;
					padding: 0!important;
				}
				
				
				body .carousel-heading .container {
					padding: 0 10px!important;
				}
				body .carousel-heading .container .carousel-next { right: 10px; } body .carousel-heading .container .carousel-prev { right: 35px; }
				.carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link { left: 90px; }
				.carousel-wrap[data-full-width="true"] .carousel-heading { margin-left: -20px; margin-right: -20px; }
				.carousel-wrap[data-full-width="true"] .carousel-next { right: 90px!important; } .carousel-wrap[data-full-width="true"] .carousel-prev { right: 115px!important; }
				.carousel-wrap[data-full-width="true"] { padding: 0!important; }
				.carousel-wrap[data-full-width="true"] .caroufredsel_wrapper { padding: 20px!important; }
				
				#search-outer #search #close a {
					right: 90px;
				}
	
	
				#boxed, #boxed #header-outer, #boxed #header-secondary-outer, #boxed #slide-out-widget-area-bg.fullscreen, #boxed #page-header-bg[data-parallax="1"], #boxed #featured, body[data-footer-reveal="1"] #boxed #footer-outer, #boxed .orbit > div, #boxed #featured article, .ascend #boxed #search-outer {
				   max-width: 1400px!important;
				   width: 90%!important;
				   min-width: 980px;
				}

				body[data-hhun="1"] #boxed #header-outer:not(.detached), body[data-hhun="1"] #boxed #header-secondary-outer {
					width: 100%!important;
				}


				#boxed #search-outer #search #close a {
					right: 0!important;
				}

				#boxed .container {
				  width: 92%;
				  padding: 0;
			    } 
				
				#boxed #footer-outer #footer-widgets, #boxed #footer-outer #copyright {
					padding-left: 0;
					padding-right: 0;
				}

				#boxed .carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link { left: 35px; }
				#boxed .carousel-wrap[data-full-width="true"] .carousel-next { right: 35px!important; } #boxed .carousel-wrap[data-full-width="true"] .carousel-prev { right: 60px!important; }

				
			 }.pagination-navigation { -webkit-filter: url("#goo"); filter: url("#goo"); }body{
    font-size: 14px;
}

body[data-header-resize="0"] .container-wrap,
body[data-header-resize="0"] .project-title{
    padding: 0;
    margin: 0;
    }

/*#header-space{*/
/*    height: 66px !important;*/
/*}*/


a{
    color:  rgb(5, 70, 67);

}

body a:hover{
    text-decoration: underline;
    color: #595959;
}

a.nectar-button {
    font-weight: bold;
}
a.nectar-button:hover {
    text-decoration: none!important;
}

body #header-outer, body #search-outer, 
.admin-bar #header-outer, 
.logged-in.buddypress #header-outer{
    padding: 0;
    height: 105px;
}


.container{
    width: 1450px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.container, .row{
    width: 100% !important;
}

/* Inner Pages Header */

.platform-nav,
.togo-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    background: #4c7cff;
}

.platform-nav li,
.togo-menu li{
    display:inline;
    padding: 5px 20px 5px 20px;
    background: #4c7cff;
}


.platform-nav a,
.togo-menu a{
    text-decoration:none;
    color: white;
}

.platform-nav a:hover,
.togo-menu a:hover{
    color:#ffffff;
    text-decoration: underline;
}

.col .stnd{
    height:auto !important;
    position: relative;
 
}

.main-content .agave-header-image img{
    display: flex;
    top: 10px;
}

/* Remove search bar  */
#mobile-menu #mobile-search, 
header#top nav ul #search-btn {
    display: none!important;
}


.sf-menu .sub-menu ul{
    width: 100%;
}

.sf-menu .sub-menu li{
    float: left;
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    /*left: 150px;*/
}

body header#top nav .sf-menu > li.current-menu-item > a,
body header#top nav .sf-menu .sub-menu li,
body header#top nav .sf-menu .sub-menu li:hover,
body header#top nav .sf-menu .sub-menu li a:hover{
    font-size: 14px;
    
}

body header#top nav .sf-menu .sub-menu li:hover,
body header#top nav .sf-menu .sub-menu li a:hover{
    text-decoration: underline;
}


.sf-menu{
    /*display:flex;*/
    align-items: center;
    align-content: center;
    /*width: 70% !important;*/ 
    left: 155px !important;
    top: 30px;
}

.sf-menu li{
    display: inline-block;
}

header#top nav .sf-menu li > a, 
header#top nav .sf-menu li > a:hover, 
header#top nav .sf-menu li > a:active{
    font-size: 16px;
}
.small-logo-platform,
.small-logo-togo,
.small-logo-api{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 18px;
    left: 220px;
    top: 10px;
    font-family: 'Raleway', sans-serif;
}

.small-logo-togo{
    left: 230px;
}

.small-logo-api{
    left: 180px;
}

.contact-us{
    border: 3px solid #ffffff;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 126px;
    top: -11px;
}

.contact-us a{
    padding:0 !important;
}

.contact-us .contact{
    padding:0 !important;
}

header#top nav > .contact-us > a{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}


body header#top nav .sf-menu > li.current-menu-item > a{
    padding-bottom: 0px;
    font-size: 16px;
}

header#top nav .sf-menu > li > a:hover{
    text-decoration: underline;
}

header#top nav .sf-menu > li.current-menu-item > a:hover{
    text-decoration: underline;
}

#logo{
    top: 12px;
    left: 47px;
    position: relative;
}

.agave-header-image{
    /*padding: 50px 0px 0px;*/
    padding: 0px;
    width:1450px;
    background-color: rgb(76, 81, 84);
    border: 0;
}

.pillar-icons{
    position: absolute;
    display: block;
}

.agave-pillar{
    position: relative;
    top: -297px;
    /*width: 35%;*/
    left: 138px;
    float:left;
    display: inline-block;
    margin: 0 auto;
}

.subtitle{
    width: 200px;
    text-align: center;
    margin: 0 auto;
}


.testimonials{
    padding: 50px 0px;
    display: block;
    width: 100%;
    position: relative;

}


.redirects{
    display: block;
    padding: 0px;
    width: 100%;
    position: relative;
    margin: 50px 0px;

}

.rectangle{
    width: 200px;
    height: 100px;
    background: rgb(5,70,67);
    padding: 0px;
    margin-right: 0px;
    margin-left: 5px;
}

.learn-more{
    width: 33%;
    /* float: left; */
    text-align: center;
    padding: 40px 20px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    vertical-align: top;

}


.learn-more img{
    /*width: 200px;*/
    /*height: 200px;*/
    margin: 0 auto;
    background: transparent;
}


.testimonials .subtitle{
    width: 300px;
    text-align: center;
    margin: 15px auto 0px;
    padding-bottom: 20px;
    color: #ffffff;
}
.testimonials .rectangle{
    margin: 0px 190px 10px;
    padding: 0px;
}


.testimonials .learn-more{
    width: 48%;
    text-align: center;
    float:none;
    padding: 0px;
}

.more-button, .more-examples{
    text-transform: uppercase;
    padding: 5px 10px;
    color: #054643;
    width: 140px;
    border: 2px solid #054643;
    /*margin: 0px 30px 25px;*/
    margin: 0px;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}

.more-examples a{
    color: #d64635;
    border: 2px solid #d64635;
    background: transparent;
    padding: 5px 10px;
}

.more-button:hover{
    color: #ffffff;
    border: 2px solid #4c7cff;
    background: #4c7cff;
}

.testimonials .more-button{
    color: #ffffff;
    border: 2px solid #ffffff;
}

.testimonials .more-button:hover{
    color: #4c7cff;
    border: 2px solid #4c7cff;
    background:transparent;
}


.call-to-action{
    display:inline-flex;
    margin: 0 auto;
}

.call-to-action .more-button{
    margin: 0px 5px 25px;
    
}

.tagline{
    text-transform: uppercase;
    position: absolute;
    color: #fff;
    left: 150px;
    width: 555px;
    font-size: 2em;
    line-height: 1.2em;
    margin-top: 100px;
    
}

.platforms-img img,
.to-go-screenshot img{
    height: 130px;
    width: 200px;
}

.logo-title{
    text-transform: uppercase;
    color: #ffffff;
    /*border-bottom: 1px solid #ffffff;*/
    padding-bottom: 3px;
    align-content: center;
    align-items: center;
    order: 1;
    text-align: center;
    
}

.logos{
    flex-direction: row;
}


.logos ul{
    display: flex;
    list-style: outside none;
    padding: 10px 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
}

.logos hr{
    display: flex;
    width: 50%;
    align-items: center;
    align-content: center;
    
}

.main-content .logos ul li{
    list-style: outside none;
    display: inline-flex;
    height:100px;
    width: 80%;
    align-items: center;
    padding: 10px;
}

.logos .tacc:hover{
    background:url(https://web.staging.agaveapi.co/wp-content/uploads/2016/01/Inbox.png);
}

.translations{
    background: url("https://web.staging.agaveapi.co/wp-content/uploads/2016/01/code-design-bg-1700x700.jpg");
    text-align: center;
    padding: 80px 0px;
    display: flex;
    padding: 80px 0px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.translations h3{
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    align-self: center;
}

.translations p{
    font-size: 1.2em;
    align-self: center;
    width: 100%;
}

.translations .developer{
    background-color: #d64635;
    color: #ffffff;
    padding: 5px 10px 0px 8px;
    text-align: center;
    margin: 0px 5px 25px;
    width: 150px;
}

.translations .code{
    background-color:#4c7cff;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    margin: 0px 5px 25px;
    width: 150px;
}


.translations .code:hover,
.translations .developer:hover{
    border: 2px solid #ffffff;
}


/*** Inner Pages ***/



.design,
.training{
    margin: 0px 100px;
    padding-top: 75px;
}

.wpb_wrapper .design, 
.wpb_wrapper .training {
    padding-top: 0;
}

.design h2, .design h4, .training h2, .training h4{
    text-transform:uppercase;
}

.design h2, .training h2{
    margin-bottom: 30px;
    color: rgb(192, 119, 99);
    font-weight: 900;
}

.design h4, .training h4{
    font-weight: 300;
    color: #595959;
}

.use-case,
.design-desc{
    margin-bottom: 40px;
}

.use-case .rectangle,
.design-desc .rectangle,
.training-desc .rectangle{
    width: 400px;
    height: 200px;
    margin-right: 0px;
    margin-left: 75px;
    float: right;
    position: relative;
    top: -50px;
}


.training-desc{
    margin-top: 40px;
    margin-bottom: 100px;
}

.training-desc .rectangle{
    float:left;
    top:-33px;
    margin-right: 75px;
    margin-left: 0px;
}

.use-case h4,
.training-desc h4{
    text-align: left;
    position: relative;
    left: 475px;
}

.use-case h4{
    left: 0px;
}

.training h2{
    left: 476px;
    text-align: left;
    position: relative;
}

.training h4{
    width: 55%;
    text-align: left;
    position: relative;
    left: 476px;
    top: -23px;
    margin-bottom: -15px;
}

.platform-rule{
    width: 85%;
    opacity: 0.5;
}

.read-more,
.case-study,
.contact-btn{
    text-transform: uppercase;
    color: rgb(192, 119, 99);
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid rgb(192, 119, 99);
}

.read-more a,
.case-study a{
    color:rgb(192, 119, 99);
}

.cta-bottom{
    background: rgb(192, 119, 99);
    color: #ffffff;
    padding: 20px 0px;
}


.cta-bottom h2{
    color: #ffffff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.cta-bottom .contact-btn{
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 10%;
    text-align: center;
    position: relative;
    margin: 0px auto;
    font-weight: 400;
    
}


/*** Platform Overview ***/
.api-header,
.platform-header{
    /*background-image: url("https://web.staging.agaveapi.co/wp-content/uploads/2016/02/overview-bg.png");*/
    background-color: rgb(5, 70, 67);
    width: 100%;
    height: 525px;
    position:relative;
    color: rgb(255, 255, 255);
    
}

.api-header{
    background-color: transparent;
}

.platform-header:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url('https://web.staging.agaveapi.co/wp-content/uploads/2016/02/overview-bg.png');
    background-repeat: repeat;
    background-position: 50% 0;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

.api-header:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('https://web.staging.agaveapi.co/wp-content/uploads/2016/01/code-design-bg-1700x700.jpg');
    background-repeat: repeat;
    background-position: 50% 0;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}



.api-header p,
.platform-header p{
    padding: 0px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.75em;
    position: relative;
    display: block;
    font-weight: 100;
    max-width: 100%;
    text-align: center;
    width: 50%;
    line-height: 2em;
    z-index: 1;
    top:50px;
}

.api-header img,
.platform-header img,
.platform-to-go img{
    height: auto;
    width: 370px;
    margin-top: 40px;
}

.platform-to-go img{
    height: auto;
    margin-top: 20px;
}


.platform-tenet{
    width: 100%;
    height: 200px;
}
.acknowledge,
.team,
.platform-samples{
    margin: 100px;
    padding: 50px;
}

.team,
.acknowledge{
    margin: 0px 100px;
    padding:50px;

}

.platform-pillars{
    padding: 25px 118px;
    /*margin: 100px;*/
    /*background-color: #cccccc;*/
    margin-bottom: 100px;
    width: 100%;
    position: relative;
    display: block;
    float: left;
}
.pillar{
    float: left;
    text-align: left;
    margin: 0 15px;
    display: inline-block;
    padding-right: 40px;
    width: 22%;
}

.pillar h4{
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 5px auto;
    width: 100%;
    font-size: 1.3em;
}

.pillar img{
    width:  150px;
    /*float: left;*/
    margin: 0 auto;
    display: block;
    position: relative;
}

.pillar p{
    width:  100%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    vertical-align: bottom;

}

.inner-navigation ul{
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    background-color: rgb(212, 120, 101);
    color: rgb(255, 255, 255);

}

.inner-navigation ul > li{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;

}

.inner-navigation .current a{
    font-weight: bold;
    text-decoration: underline;
}

#footer-outer #footer-widgets{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;

}

.inner-navigation ul li a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.inner-navigation ul li a:active{
    font-weight: bold;
    text-decoration: underline;
}

.redirects a{
    color: rgb(76, 81, 84);
}

.redirects a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}


.cta-bottom.to-go h2{
    color: rgb(255, 255, 255);
}

.to-go ul,
.to-go, .to-go .contact-btn{
    background-color: #504d6c;
    
}

.to-go ul li a,
.to-go .contact-btn{
    color: rgb(255, 255, 255);
}

.to-go .contact-btn{
    border: 2px solid rgb(255, 255, 255);
}

.api ul,
.api{
    background-color: #0F8187;
}

.team-history,
.team-platform{
    float: left;
    width:  50%;
    padding: 0px 30px 100px;
}

.team-history a, .team-platform a,
.funding a{
    color:  rgb(5, 70, 67);
}
/*.tweet_wrap div.wdtf-user-card {
    display: none;
}
.tweet_wrap div.clear {
    padding-bottom: 0;
}*/

.tweet_data{
    font-family: Raleway, sans-serif;
}

ul.light li.tweets_avatar{
    border-radius: 0px;
}
.post-header a{
    color: #383838;
}

.service-grid-header h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.blog article.post .post-header h2 a{
    color:#595959 !important;
}

.small-logo-to-go,
.small-logo-platform,
.small-logo-api{
  visibility: visible;
}

@media only screen and (max-width: 1120px){
  .small-logo-to-go,
  .small-logo-platform,
  .small-logo-api{
      visibility: hidden;
}
}

@media only screen and (min-width: 1000px){

  .container, .woocommerce-tabs 
  .full-width-content
  .tab-container{padding: 0px;}

  /*body header#top #logo img, #header-outer[data-permanent-transparent="false"] #logo .dark-version{
      margin-top: 0px !important;
      top: -20px !important;
      }*/

  .mobile-menu ul{
      padding: 0px 20px;
      }


}

@media only screen and (max-width: 690px) {
  .design, .training {
      margin: 0px 20px;
  }
  .container, .row {
      width: 100% !important;
      max-width: 100% !important;
  }
  #mobile-menu ul li a {
      padding: 16px 0 16px 20px!important;
  }

  .small-logo-to-go,
  .small-logo-platform,
  .small-logo-api{
      visibility: hidden;
}

}	
	body, .toggle h3 a, body .ui-widget, table, .bar_graph li span strong, #slide-out-widget-area .tagcloud a, #search-results .result .title span, .woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3, .row .col.section-title .nectar-love span, body .nectar-love span, body .nectar-social .nectar-love .nectar-love-count, body .carousel-heading h2, .sharing-default-minimal .nectar-social .social-text, body .sharing-default-minimal .nectar-love 
	{		font-family: Roboto;		
		
		font-weight:400;			}.bold, strong, b { font-family: Roboto; font-weight: 600; } .nectar-fancy-ul ul li .icon-default-style[class^="icon-"] {}	
	
		
	header#top nav > ul > li > a
	{	
		font-family: Raleway;font-size:16px;	
		line-height:22.4px;					}#header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a,
	    	header#top nav > ul > li.button_solid_color > a, body #header-outer.transparent header#top nav > ul > li.button_solid_color > a,
			#header-outer[data-lhe="animated_underline"] header#top nav > ul > li.button_solid_color > a { margin-left: 13px!important;  margin-right: 13px!important; }#header-outer[data-lhe="default"] header#top nav > ul > li > a { padding-left: 13px;  padding-right: 13px; }header#top nav > ul > li.button_solid_color > a, body #header-outer.transparent header#top nav > ul > li.button_solid_color > a, #header-outer[data-lhe="animated_underline"] header#top nav > ul > li.button_solid_color > a { padding-left: 23px!important; padding-right: 23px!important; }header#top nav > ul > li.button_solid_color > a:before, #header-outer.transparent header#top nav > ul > li.button_solid_color > a:before { 
	    		height: 27.4px; 
	    	}header#top nav > ul > li.button_bordered > a:before, #header-outer.transparent header#top nav > ul > li.button_bordered > a:before { 
	    		height: 37.4px; 
	    	}	
	
	
	
		
	header#top .sf-menu li ul li a, #header-secondary-outer nav > ul > li > a, #header-secondary-outer ul ul li a, #header-outer .widget_shopping_cart .cart_list a
	{	
		font-family: Raleway;font-size:14px;			
		line-height:24px;					}	
	
	@media only screen 
	and (min-width : 1px) and (max-width : 1000px) 
	{
	  header#top .sf-menu a {
	  	font-family: Raleway!important;
	  	font-size: 14px!important;
	  }
	}	
	
		
	#page-header-bg h1, body h1, body .row .col.section-title h1, .full-width-content .recent-post-container .inner-wrap h2
	{	
		font-family: Raleway;	
							}	

	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
		body .row .col.section-title h1, body h1, .full-width-content .recent-post-container .inner-wrap h2 {
			font-size: ;
			line-height: ;
		}
	}
	@media only screen and (max-width: 1000px) and (min-width: 690px) {
		body .row .col.section-title h1, body h1 {
			font-size: ;
			line-height: ;
		}
		.full-width-content .recent-post-container .inner-wrap h2 {
			font-size: ;
			line-height: ;
		}
	}
	@media only screen and (max-width: 690px) {
		body .row .col.section-title h1, body h1 {
			font-size: ;
			line-height: ;
		}
		.full-width-content .recent-post-container .inner-wrap h2 {
			font-size: ;
			line-height: ;
		}
	}
	
	
		
	#page-header-bg h2, body h2, article.post .post-header h2, article.post.quote .post-content h2, article.post.link .post-content h2, article.post.format-status .post-content h2,
	#call-to-action span, .woocommerce .full-width-tabs #reviews h3, .row .col.section-title h2
	{	
		font-family: Raleway;	
		
					}
	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
	 	body h2 {
	 		font-size: ;
			line-height: ;
		}
		.row .span_2 h2, .row .span_3 h2, .row .span_4 h2, .row .vc_col-sm-2 h2, .row .vc_col-sm-3 h2, .row .vc_col-sm-4 h2 { 
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
	.col h2 {
			font-size: ;
			line-height: ;
		}
	}
	
	
		
	body h3, .row .col h3, .toggle h3 a, .ascend #respond h3, .ascend h3#comments, .woocommerce ul.products li.product.text_on_hover h3, 
	.masonry.classic_enhanced .masonry-blog-item h3.title 
	{	
		font-family: Raleway;	
		
					}	
	@media only screen and (min-width: 1000px) {
		.ascend .comments-section .comment-wrap.full-width-section > h3, .blog_next_prev_buttons[data-post-header-style="default_minimal"] .col h3 {
			font-size: ;
			line-height: ;
		}

		.masonry.classic_enhanced .masonry-blog-item.large_featured h3.title {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (min-width: 1300px) and (max-width: 1500px){
		body .portfolio-items.constrain-max-cols.masonry-items .col.elastic-portfolio-item h3 {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 1300px) and (min-width: 1000px), (max-width: 690px) {
		.row .span_2 h3, .row .span_3 h3, .row .span_4 h3, .row .vc_col-sm-2 h3, .row .vc_col-sm-3 h3, .row .vc_col-sm-4 h3 {
			font-size: ;
			line-height: ;
		}
	}
	
		
	body h4, .row .col h4, .portfolio-items .work-meta h4, .portfolio-items .col.span_3 .work-meta h4, #respond h3, h3#comments, .portfolio-items[data-ps="6"] .work-meta h4
	{	
		font-family: Raleway;	
							}	
	@media only screen and (min-width: 690px) {
		.portfolio-items[data-ps="6"] .wide_tall .work-meta h4 {
			font-size: ;
			line-height: ;
		}

	}
	
		
	body h5, .row .col h5, .portfolio-items .work-item.style-3-alt p
	{	
		font-family: Raleway;	
							}


	body .wpb_column > .wpb_wrapper > .morphing-outline .inner > h5 {
		font-size: ;
	}
	

		
	body h6, .row .col h6
	{	
		font-family: Raleway;	
							}	


		
	body i, body em, .masonry.meta_overlaid article.post .post-header .meta-author > span, #post-area.masonry.meta_overlaid article.post .post-meta .date,
	#post-area.masonry.meta_overlaid article.post.quote .quote-inner .author, #post-area.masonry.meta_overlaid  article.post.link .post-content .destination
	{	
			
							}

		
	form label, .woocommerce-checkout-review-order-table .product-info .amount, .woocommerce-checkout-review-order-table .product-info .product-quantity,
	.nectar-progress-bar p, .nectar-progress-bar span strong i, .nectar-progress-bar span strong, .testimonial_slider blockquote span
	{	
			
							}


		
	.nectar-dropcap
	{	
			
							}
	
		
	body #page-header-bg h1, html body .row .col.section-title h1, .nectar-box-roll .overlaid-content h1
	{	
		font-family: Raleway;	
							}
	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		#page-header-bg .span_6 h1, .overlaid-content h1 {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		#page-header-bg .span_6 h1, .nectar-box-roll .overlaid-content h1 {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (min-width: 1300px) and (max-width: 1500px) {
		#page-header-bg .span_6 h1, .nectar-box-roll .overlaid-content h1 {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		#page-header-bg.fullscreen-header .span_6 h1, .overlaid-content h1 {
			font-size: ;
			line-height: ;
		}
	}


		
	body #page-header-bg .span_6 span.subheader,  body .row .col.section-title > span, .nectar-box-roll .overlaid-content .subheader
	{	
		font-family: Raleway;	
							}	
	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		body #page-header-bg:not(.fullscreen-header) .span_6 span.subheader,  body .row .col.section-title > span {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		body #page-header-bg.fullscreen-header .span_6 span.subheader, .overlaid-content .subheader {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		body #page-header-bg.fullscreen-header .span_6 span.subheader, .overlaid-content .subheader {
			font-size: ;
			line-height: ;
		}
	}



		
	body #slide-out-widget-area .inner .off-canvas-menu-container li a, body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a
	{	
			
							}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a {
			font-size: ;
			line-height: ;
		}
	}



		
	#slide-out-widget-area .menuwrapper li small
	{	
			
							}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		#slide-out-widget-area .menuwrapper li small {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		#slide-out-widget-area .menuwrapper li small {
			font-size: ;
			line-height: ;
		}
	}

	
		
	.swiper-slide .content h2
	{		font-family: Raleway;	
		
					}
	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2, 
		body .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2, 
		body .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2, 
		body .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: ;
			line-height: ;
		}
	}
	
	
		
	#featured article .post-title h2 span, .swiper-slide .content p, #portfolio-filters-inline #current-category, body .vc_text_separator div
	{	
		font-family: Roboto;	
							}	
	
	#portfolio-filters-inline ul { line-height: ; }.swiper-slide .content p.transparent-bg span { 	     	}
	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
		.full-width-content .vc_span12 .swiper-slide .content p {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
		.full-width-content .vc_span12 .swiper-slide .content p {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
		body .full-width-content .vc_span12 .swiper-slide .content p {
			font-size: ;
			line-height: ;
		}
	}



		
	.testimonial_slider blockquote, .testimonial_slider blockquote span, blockquote
	{	
		font-family: Roboto;	
							}	
	
	

	
	
		
	#footer-outer .widget h4, #sidebar h4, #call-to-action .container a, .uppercase, .nectar-button, body .widget_calendar table th, body #footer-outer #footer-widgets .col .widget_calendar table th, .swiper-slide .button a,
	header#top nav > ul > li.megamenu > ul > li > a, .carousel-heading h2, body .gform_wrapper .top_label .gfield_label, body .vc_pie_chart .wpb_pie_chart_heading, #infscr-loading div, #page-header-bg .author-section a, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .ascend input[type="submit"], .ascend button[type="submit"],
	.widget h4, .text-on-hover-wrap .categories a, .text_on_hover.product .add_to_cart_button, .woocommerce-page div[data-project-style="text_on_hover"] .single_add_to_cart_button, .woocommerce div[data-project-style="text_on_hover"]  .cart .quantity input.qty, .woocommerce-page #respond input#submit,
	.meta_overlaid article.post .post-header h2, .meta_overlaid article.post.quote .post-content h2, .meta_overlaid article.post.link .post-content h2, .meta_overlaid article.post.format-status .post-content h2, .meta_overlaid article .meta-author a, .pricing-column.highlight h3 .highlight-reason,
	.blog-recent[data-style="minimal"] .col > span, .masonry.classic_enhanced .posts-container article .meta-category a, .nectar-recent-posts-slider .container .strong, #page-header-bg[data-post-hs="default_minimal"] .inner-wrap > a, .single .heading-title[data-header-style="default_minimal"] .meta-category a, .nectar-fancy-box .link-text
	{	
		font-family: Raleway;				
		font-weight: normal;
			}	
	

	
		
	.team-member h4, .row .col.section-title p, .row .col.section-title span, #page-header-bg .subheader, .nectar-milestone .subject, .testimonial_slider blockquote span 
	{	
				
							
	}	
	
	article.post .post-meta .month { line-height:-6px!important; }