body {
    background-color: #f8f8f8;
}
#loginform {
    background-color: #00a7b8;
    color: #FFF;
}
.login label {
    color: #FFF;
}

.login h1 a {
    height: 100px;
    width: auto;
    background-size: contain;
    background-image: url('/wp-content/uploads/2016/09/agave-platform-logo.png');
    background-position: center top;
    background-repeat: no-repeat;
    color: rgb(153, 153, 153);
    font-size: 20px;
    font-weight: 400;
    line-height: 1em;
    margin: 0px auto 25px;
    padding: 0px;
    text-decoration: none;
    text-indent: -9999px;
    outline: 0px none;
    overflow: hidden;
    display: block;
}

.login .message, .login #login_error {
    border: 1px solid #00a7b8;
    border-left: 4px solid #00a7b8;
    padding: 12px;
    margin-left: 0;
    background-color: #00a7b8;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

.login #nav a, .login #backtoblog a {
    color: #00a7b8;
}

.login #nav a:hover, .login #backtoblog a:hover,
.login #nav a:hover, .login #backtoblog a:hover,
.login h1 a:hover {
    text-decoration: underline;
}

.wp-core-ui .button-primary {
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    border-radius: 0;
}

.wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
    background: #FFF;
    border-color: #FFF;
    color: #00a7b8;
}

input[type="checkbox"]:checked:before {
    color: #FFF;
}